@media (max-width: 500px) {
	.sections .col-xs-6,
	footer .col-xs-6,
	.sections-sup .col-xs-6 {
		width: 100%;
	}
	.hidden-content {
		width: 90vw;
	}

	/* .thr .summary:before,
	.one .summary:before,
	.thr .summary:before,
	.four .summary:before {
		right: 45% !important;
	}
	.sco .summary,
	.four .summary {
		right: 3vw !important;
	} */

	.filter {
		display: block;
		margin-bottom: 10px;
		line-height: 2;
	}
	.filter i {
		position: absolute;
		left: 5;
		top: 5px;
		font-size: 20px;
	}
	.top .drop {
		width: auto;
	}
	.filter.pull-left {
		float: none !important;
	}
	.filter .fa-filter {
		top: 10px;
	}
}

@media (min-width: 990px) {
	.navbar-form {
		margin-right: 25%;
		display: inline-block;
	}
}

@media (max-width: 768px) {
	.summary {
		grid-template-columns: repeat(2, 1fr) !important;
	}
	.sections {
		grid-template-columns: repeat(2, 1fr);
	}
	#searchBtn {
		display: block !important;
	}
	.wrapar {
		padding: 50px 0 !important;
	}
	nav > div > div {
		z-index: 2;
	}
	nav form {
		display: flex;
		position: absolute;
		width: 100% !important;
		z-index: -1;
		top: 0;
		left: 0;
		transition: all 0.3s linear;
		box-shadow: 0px 6px 9px 1px rgba(0, 0, 0, 0.25);
	}
	nav form.showForm {
		top: 100%;
		left: 0;
	}

	footer,
	footer .sochal,
	.top .clas,
	.top .drop {
		text-align: center;
	}
	.navbar-form .btn {
		top: 20px;
	}
	.navbar-brand {
		width: 120px;
	}
	.navbar-toggle {
		float: left;
		margin-left: 15px;
	}
}

@media (min-width: 768px) and (max-width: 990px) {
	/* .summary {
		width: 77vw;
	}
	.sco .summary,
	.four .summary {
		right: -38vw;
	}
	.sco .summary:before,
	.four .summary:before {
		right: 72%;
	}
	.thr .summary,
	.one .summary {
		right: 1vw;
	}
	.thr .summary:before,
	.one .summary:before {
		right: 23%;
	} */

	footer,
	footer .sochal {
		text-align: center !important;
	}
}

@media (min-width: 499px) and (max-width: 767px) {
	/* .Subject {
		width: 22%;
	} */
	/* .summary {
		width: 91vw;
	}
	.sco .summary,
	.four .summary {
		right: -45vw;
	}
	.sco .summary:before,
	.four .summary:before {
		right: 72%;
	}
	.thr .summary,
	.one .summary {
		right: 1vw;
	}
	.thr .summary:before,
	.one .summary:before {
		right: 23%;
	} */
}
