@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

@font-face {
	font-family: 'Cairo', sans-serif;
	src: url('../fonts/Cairo-Regular.ttf');
}

:root {
	--blue: #1d6ce1;
	--blue-white: #e3ebf4;
	--blue-gray: #4d5068;
}
a {
	text-decoration: none;
}
body {
	position: relative;
	font-family: 'Cairo', sans-serif;
	padding: 0;
}
.wrapar {
	min-height: 79vh;
}
.alert {
	display: none;
	top: 20px;
	right: 20px;
	font-weight: bold;
	font-size: 1.2rem;
}
.alert.showItem {
	display: flex;
}
* {
	box-sizing: border-box;
}

ul li {
	list-style: none;
}

.navbar-color {
	/* background-color: #b5ebf3; */
	background-color: var(--blue-white);
	position: relative;
}
nav > div > div {
	padding: 1rem 0;
	background-color: var(--blue-white);
}
.navbar-brand {
	display: block;
	width: 120px;
	height: unset !important;
}
.navbar-brand img {
	width: 100%;
}
.navbar-form .btn:hover {
	color: #495057;
	background-color: transparent;
	border-color: transparent;
	border: none !important;
}
.navbar-form .btn {
	color: #495057 !important;
	border-color: transparent;
	background: transparent !important;
	position: absolute;
	left: 0;
	top: 4px;
	border: none !important;
}
.navbar form {
	background: #fff;
	border-radius: 5px;
	position: relative;
}
nav form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 0.5rem;
	padding: 0.7rem 1.5rem;
	background-color: white;
	width: fit-content;
	margin: 0;
}
#searchBtn {
	display: none;
	outline: none;
}
form input {
	outline: none;
}
form input::placeholder {
	font-weight: bold;
	font-size: 1rem;
	color: #b5b5b5;
}
.fa-magnifying-glass {
	color: var(--blue);
}
.navbar .form-control {
	border-color: transparent;
	outline: none;
	box-shadow: none;
}
.navbar-toggler {
	background-color: #b5ebf3;
	border-color: #fff;
}
.dropdown-item {
	text-align: right;
}
.left-side-nav {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}
.left-side-nav li button {
	background: var(--blue);
	border-radius: 5px;
	color: #fff;
}
.left-side-nav li:last-child a i {
	color: var(--blue);
}
.left-side-nav .btn:hover {
	background: var(--blue-white);
	border: 1px solid var(--blue);
	border-radius: 5px;
	color: var(--blue);
}
.navbar-default .navbar-nav > li > a {
	color: var(--blue);
}
/********/
.wrapar {
	margin-top: 30px;
}

.top .edu:hover {
	cursor: pointer;
}
.top .clas {
	text-align: left;
}
.top .clas h5 {
	display: inline-block;
	margin-left: 5px;
}
.edu h4 {
	font-size: 1.3rem;
	margin: 0;
}
.top .clas .box {
	border: 1px solid #b5ebf3;
	border-radius: 5px;
	padding: 5px 10px;
}
.top .clas .num {
	font-size: 1.25rem;
	display: inline-block;
}
.top .clas .bg {
	background: var(--blue);
	color: #fff;
	margin-right: 5px;
	width: 25px;
	text-align: center;
	border-radius: 5px;
}
.modal li {
	line-height: 2;
	list-style: none;
}
.modal-dialog {
	min-height: calc(100vh - 60px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: auto;
}
.sections {
	padding: 30px 0;
	margin: 20px 0;
}
.sections .section .pic {
	-webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);

	border-radius: 30px;
	/* margin-bottom: 30px; */
	/* position: relative; */
	cursor: pointer;
}
.sections .section .pic:hover {
	-webkit-transform: translateY(-7px);
	transform: translateY(-7px);
}

.sections .section img {
	width: 70%;
	display: inline-block;
	border-radius: 10px 10px 0 0;
	margin-top: 20px;
}
.sections .section a {
	color: #333;
}
.sections .section .pic {
	overflow: hidden;
	background: var(--blue);
	text-align: center;
	border-radius: 30px;
	width: 100%;
	aspect-ratio: 1 / 1;
}

.sections .section .pic span {
	font-size: 18px;
	font-weight: bold;
	display: block;
	margin-top: 10px;
}

.sections.add-grid {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(6, 1fr);
	justify-content: center !important;
}

.black {
	display: none;
	position: fixed;
	z-index: 8;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.4;
	cursor: pointer;
}

.black.showBlack {
	display: block;
}
.summary {
	display: none;
	grid-template-columns: repeat(2, 1fr);
	width: 60%;
	padding: 3rem 2rem;
	position: fixed;
	top: 50%;
	left: 50%;
	gap: 2rem;
	transform: translate(-50%, -50%);
	border-radius: 1rem;
	z-index: 9;
	background-color: white;
}

.section.showSummary .summary {
	display: grid;
	animation: hideShow 0.4s;
	animation-timing-function: ease-in-out;
}

.summary .closeIcon {
	position: absolute;
	top: -15px;
	left: -15px;
	background-color: white;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: inherit;
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.Subject {
	/* border: 1px solid #c8dcf3; */
	border: 1px solid #aecdf1;
	border-radius: 15px;
	background: #fff;
	text-align: center;
	padding: 0.75rem;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.Subject:hover {
	transform: scale(1.05);
	box-shadow: 0 0 7px 1px #aecdf1;
}
.Subject h4 {
	font-size: 1.2rem;
	margin: 0;
}
/**********/
.filter {
	font-size: 16px;
	border: 1px solid var(--blue);
	border-radius: 30px;
	padding: 2px 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	margin-left: 10px;
	overflow: hidden;
	position: relative;
}
.filter:hover {
	background: var(--blue);
	color: #fff;
}
.filter i {
	color: #da1919;
	font-size: 20px;
}
.view {
	width: 100%;
	height: 80vh;
	border: 1px solid #b5ebf3;
	border-radius: 0.5rem;
	margin: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.download {
	background: #1d6be14a;
	padding: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.download .btn {
	background: var(--blue);
	color: #fff;
	width: 100%;
	-webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
	border: 1px solid var(--blue);
}
.download .btn:hover {
	background: transparent;
	color: var(--blue);
}
#book {
	display: none;
}
#book.viewBook {
	display: block;
}
.filter .fa-filter {
	color: var(--blue);
}
.filter:hover .fa-filter {
	color: #fff;
}
/******/
.solutions-sections {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 30px 0;
	padding: 20px 0;
	gap: 2rem;
}
.solutions-sections .section {
	border: 3px solid var(--blue-white);
	-webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
	border-radius: 4rem 4rem 1rem 1rem;
	position: relative;
	padding-top: 10px;
}
.solutions-sections .section:hover {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
	-webkit-box-shadow: 0 5px 9px rgba(60, 72, 88, 0.15);
	box-shadow: 0 5px 9px rgba(60, 72, 88, 0.15);
}
.solutions-sections .section .padg {
	position: absolute;
	background: #c8dbf8;
	border-radius: 20px;
	color: #fff;
	top: -5px;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	padding: 3px 13px;
	font-size: 16px;
}
.solutions-sections .section:hover .padg {
	background: var(--blue);
}
.solutions-sections .section img {
	width: 100%;
	border-radius: 50px 50px 0 0;
}
.solutions-sections .section .footer {
	background: #f3fdff;
	border-top: 1px solid var(--blue-white);
	padding: 10px;
	border-radius: 0rem 0rem 1rem 1rem;
}
/******/
footer {
	background: var(--blue);
	padding: 20px 0;
	color: white;
	margin-top: 2rem;
}
footer .container > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer div p {
	margin: 0 0 0 25px !important;
}

footer .sochal {
	display: flex;
	align-items: center;
	gap: 1rem;
}
footer .sochal a i {
	font-size: 1.2rem;
}

footer .links {
	display: flex;
	align-items: center;
	gap: 1rem;
}

footer .links li {
	list-style: none;
}
footer a {
	color: inherit;
}
footer a:hover {
	color: inherit;
}
@media (max-width: 992px) {
	.solutions-sections {
		grid-template-columns: repeat(2, 1fr);
	}
	.sections.add-grid {
		grid-template-columns: repeat(3, 1fr);
	}
	.wrapar {
		margin-top: 60px;
	}
}

@media (max-width: 768px) {
	.sections.add-grid {
		grid-template-columns: repeat(2, 1fr);
	}
	#searchBtn {
		display: block;
	}
	.summary {
		width: 85%;
	}
	.Subject h4 {
		font-size: 1rem;
	}
	.wrapar .container .top {
		margin-top: 1rem;
	}
	nav > div > div {
		z-index: 2;
	}
	nav form {
		display: flex;
		position: absolute;
		width: 100% !important;
		z-index: -1;
		top: 0;
		left: 0;
		transition: all 0.3s linear;
		box-shadow: 0px 6px 9px 1px rgba(0, 0, 0, 0.25);
	}
	nav form.showItem {
		top: 100%;
		left: 0;
	}
	.edu h4,
	.clas h5,
	.top .clas .num {
		font-size: 1rem;
	}

	.solutions-sections .section .padg {
		padding: 4px 8px;
		font-size: 16px;
	}

	.navbar-form .btn {
		top: 20px;
	}
	.navbar-brand {
		width: 100px;
	}
	.navbar-toggle {
		float: left;
		margin-left: 15px;
	}
	footer {
		background: var(--blue);
		padding: 20px 0;
		color: white;
	}
	footer .container > div {
		flex-direction: column;
		gap: 1rem;
	}

	footer div p {
		margin: 0 0 0 0 !important;
	}
}
@media (max-width: 500px) {
	.sections .col-xs-6,
	footer .col-xs-6,
	.sections-sup .col-xs-6 {
		width: 100%;
	}
	.hidden-content {
		width: 90vw;
	}

	.filter {
		display: block;
		margin-bottom: 10px;
		line-height: 2;
	}
	.filter i {
		position: absolute;
		left: 5;
		top: 5px;
		font-size: 20px;
	}
	.top .drop {
		width: auto;
	}
	.filter.pull-left {
		float: none !important;
	}
	.filter .fa-filter {
		top: 10px;
	}
}
@media (max-width: 454px) {
	.solutions-sections .section .padg {
		padding: 4px 5px;
		font-size: 12px;
	}
	.solutions-sections .section {
		border-radius: 2rem 2rem 1rem 1rem;
	}
	.download > div div {
		width: 100%;
	}
}

@keyframes hideShow {
	0% {
		opacity: 0;
		transform: translate(-50%, -100%);
	}

	100% {
		transform: translate(-50%, -50%);
		opacity: 1;
	}
}

/* ******* */
.fade {
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}
.fade.in {
	opacity: 1;
}
.modal-open {
	overflow: hidden;
}
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}
.modal.fade .modal-dialog {
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
	-webkit-transform: translate3d(0, -25%, 0);
	-o-transform: translate3d(0, -25%, 0);
	transform: translate3d(0, -25%, 0);
}
.modal.in .modal-dialog {
	-webkit-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}
.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
}
.modal-content {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
}
.modal-backdrop.fade {
	filter: alpha(opacity=0);
	opacity: 0;
}
.modal-backdrop.in {
	filter: alpha(opacity=50);
	opacity: 0.5;
}
.modal-header {
	min-height: 16.42857143px;
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
	margin-top: -2px;
}
.modal-title {
	margin: 0;
	line-height: 1.42857143;
}
.modal-body {
	position: relative;
	padding: 15px;
}
.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
	margin-bottom: 0;
	margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
	margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
	margin-left: 0;
}
.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}
@media (min-width: 768px) {
	.modal-dialog {
		width: 600px;
		margin: 30px auto;
	}
	.modal-content {
		-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	}
	.modal-sm {
		width: 300px;
	}
}
@media (min-width: 992px) {
	.modal-lg {
		width: 900px;
	}
}
.modal-footer:before,
.modal-footer:after {
	display: table;
	content: ' ';
}
.modal-footer:after {
	clear: both;
}
.close {
	float: right;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: 0.2;
}
.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=50);
	opacity: 0.5;
}
button.close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
}
/* ******* */
